<p id="notice"><%= notice %></p>

<h1>Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Identification card</th>
      <th>Email</th>
      <th>Birthday</th>
      <th>Eps</th>
      <th>Full name</th>
      <th>Address</th>
      <th>City</th>
      <th>Arl</th>
      <th>Rh</th>
      <th>Phone</th>
      <th>Allergies</th>
      <th>Disability</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.identification_card %></td>
        <td><%= profile.email %></td>
        <td><%= profile.birthday %></td>
        <td><%= profile.eps %></td>
        <td><%= profile.full_name %></td>
        <td><%= profile.address %></td>
        <td><%= profile.city %></td>
        <td><%= profile.arl %></td>
        <td><%= profile.rh %></td>
        <td><%= profile.phone %></td>
        <td><%= profile.allergies %></td>
        <td><%= profile.disability %></td>
        <td><%= profile.notes %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
