<div class="col s12">
  <div class="card">
    <div class="card-action card_action_title">
      <span class="card-title white-text"><b>Patient</b></span>
      <% if can? :update, Profile %>
        <div class="waves-effect waves-light btn right action_button_card action_button_card_first_right">
          <%= link_to 'EDIT', edit_profile_path(@profile), class: 'white-text btn_link_to' %>
        </div>
      <% end %>
      <div class="waves-effect waves-light btn right action_button_card">
        <%= link_to 'BACK', profiles_path, class: 'white-text btn_link_to' %>
      </div>
    </div>
    <div class="card-content">
      <div class="row">
        <div class="col s12 m10 offset-m1">

          <div class="input-field col s12 m4">
            <input disabled value="<%= @profile&.identification_card %>" type="text" class="validate">
            <label>Identification Card</label>
          </div>

          <div class="input-field col s12 m4">
            <input disabled value="<%= @profile&.full_name %>" type="text" class="validate">
            <label>Full Name</label>
          </div>

          <div class="input-field col s12 m4">
            <input disabled value="<%= @profile&.email %>" type="text" class="validate">
            <label>Email</label>
          </div>

          <div class="input-field col s12 m4">
            <input disabled value="<%= @profile&.phone %>" type="text" class="validate">
            <label>Phone</label>
          </div>

          <div class="input-field col s12 m4">
            <input disabled value="<%= @profile&.birthday&.strftime("%b %-e, %Y") %>" type="text" class="validate">
            <label>Birthday</label>
          </div>

          <div class="input-field col s12 m4">
            <input disabled value="<%= @profile&.eps&.name&.titleize %>" type="text" class="validate">
            <label>EPS</label>
          </div>

          <div class="input-field col s12 m4">
            <input disabled value="<%= @profile&.address %>" type="text" class="validate">
            <label>Address</label>
          </div>

          <div class="input-field col s12 m4">
            <input disabled value="<%= @profile&.city %>" type="text" class="validate">
            <label>City</label>
          </div>

          <div class="input-field col s12 m4">
            <input disabled value="<%= @profile&.arl&.name&.titleize %>" type="text" class="validate">
            <label>ARL</label>
          </div>

          <div class="input-field col s12 m4">
            <input disabled value="<%= @profile&.rh %>" type="text" class="validate">
            <label>RH</label>
          </div>

          <div class="input-field col s12 m8">
            <input disabled value="<%= @profile&.disability %>" type="text" class="validate">
            <label>Disability</label>
          </div>

          <div class="input-field col s12">
            <input disabled value="<%= @profile&.allergies %>" type="text" class="validate">
            <label>Allergies</label>
          </div>

          <div class="input-field col s12">
            <input disabled value="<%= @profile&.notes %>" type="text" class="validate">
            <label>Notes</label>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
