<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="card">
    <div class="card-action card_action_title">
      <span class="card-title white-text"><%= t("users.edit_acc") %></span>
      <div class="actions white-text waves-effect waves-light btn right action_button_card action_button_card_first_right">
        <%= f.submit 'SAVE' %>
      </div>
      <div class="waves-effect waves-light btn right action_button_card">
        <%= link_to 'BACK', :back, class: 'white-text btn_link_to' %>
      </div>
    </div>
    <div class="card-content">
      <div class="row">
        <div class="col s12">
          <div class="input-field col s12 m6">
            <%= f.label :email, t("users.email") %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="input-field col s12 m6">
            <%= f.label :password %> <i><%= t("users.leav_blank") %></i>
            <%= f.password_field :password, autocomplete: "new-password" %>
            <% if @minimum_password_length %>
              <em><%= @minimum_password_length %> <%= t("users.char_mini") %></em>
            <% end %>
          </div>

          <div class="input-field col s12 m6">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="input-field col s12 m6">
            <br>
            <%= f.label :current_password %>
            <%= f.password_field :current_password, autocomplete: "current-password" %>
            <i><%= t("users.we_need_your") %></i>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="center-align" id="button_destroy_profile">
  <%= link_to 'CANCEL MY ACCOUNT', registration_path(resource_name), data: { confirm: "¿Esta seguro de elminarlo?" }, class:"col s12 waves-effect waves-light btn btn_big btn_alert" %>
</div>
