<%= form_with(model: ep, local: true) do |form| %>
  <% if ep.errors.any? %>
    <div id="error_explanation">
      <h2>
        <% if ep.errors.count == 1 %>
          <%= ep.errors.count %> <%= "Error prohibited this User from being saved:" %>
        <% else %>
          <%= "#{ep.errors.count} Errors prohibited this User from being saved:" %>
        <% end %>
      </h2>
      <ul>
        <% ep.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card">
    <div class="card-action card_action_title">
      <span class="card-title white-text">EPS</span>
      <div class="waves-effect waves-light btn right action_button_card action_button_card_first_right">
        <%= form.submit 'SAVE', class: 'btn_link_to' %>
      </div>

      <div class="waves-effect waves-light btn right action_button_card">
        <%= link_to 'BACK', settings_path, class: 'btn_link_to' %>
      </div>
    </div>
    <div class="card-content">
      <div class="row">
        <div class="col s12 m10 offset-m1">

          <div class="input-field col s12 m6">
            <%= form.label :name, 'Name' %>
            <%= form.text_field :name %>
          </div>

          <div class="col s6 check_box_remember check_box_forms">
            <label>
              <%= form.check_box :active %>
              <span>
                <%= form.label :active %>
              </span>
            </label>
          </div>

        </div>
      </div>
    </div>
  </div>
<% end %>
