<%= form_with(model: ep, local: true) do |form| %>
  <% if ep.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ep.errors.count, "error") %> prohibited this ep from being saved:</h2>

      <ul>
        <% ep.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
