

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<div class="col s12">
  <div class="card">
    <div class="card-action card_action_title">
      <span class="card-title white-text"><%= t("users.invite_user") %></span>
    </div>
    <div class="card-content">
      <div class="row">
        <div class="col s12">

        </div>
      </div>
    </div>
  </div>
</div>
