<%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :invitation_token, readonly: true %>

  <br><br><br><br><br><br><br><br><br>
  <div class="col s12 m6 offset-m3">
    <div class="card">
      <div class="card-action card_action_title">
        <span class="card-title white-text"><b><%= t "devise.invitations.edit.header" %></b></span>
        <div class="actions white-text waves-effect waves-light btn right action_button_card action_button_card_first_right">
          <%= f.submit 'SAVE' %>
        </div>
      </div>
      <div class="card-content">
        <div class="row">
          <div class="col s12 m10 offset-m1">

            <% if f.object.class.require_password_on_accepting %>
              <div class="inpu-field">
                <%= f.label :password %><br />
                <%= f.password_field :password %>
              </div>

              <div class="inpu-field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation %>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
