<%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<% end %>

<%= form_for(User.new, url: user_invitation_path) do |f| %>
  <div class="col s12">
    <div class="card">
      <div class="card-action card_action_title">
        <span class="card-title white-text"><b>Invite User</b></span>
        <%= f.button :button, type: :submit, class: 'waves-effect waves-light btn right action_button_card action_button_card_first_right' do %>
          SUBMIT
        <% end %>
      </div>
      <div class="card-content">
        <div class="row">
          <div class="col s12">
            <div class="input-field col s12 m12 l6">
              <%= f.label :email, t("users.email") %>
              <%= f.text_field :email %>
            </div>
            <div class="striped input-field col s6 m8 l3">
              <%= f.collection_select :role, current_user.permited_role, :first, ->(role) { role.first.titleize } %>
              <%= f.label :role, t("users.role"), class: 'active' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
