<!-- agregar boton para check visit para administradores, y agregar boton para register para doctores en el show -->

<div class="col s12">
  <div class="card">
    <div class="card-action card_action_title">
      <span class="card-title white-text"><b>Appointment</b></span>
      <% if can? :update, Appointment %>
        <div class="waves-effect waves-light btn right action_button_card action_button_card_first_right">
          <%= link_to 'EDIT', edit_appointment_path(@appointment), class: 'white-text btn_link_to' %>
        </div>
      <% end %>
      <% if can? :diagnostic, Appointment %>
        <div class="waves-effect waves-light btn right action_button_card">
          <%= link_to 'DIAGNOSTIC', appointment_diagnostic_path(@appointment), class: 'white-text btn_link_to' %>
        </div>
      <% end %>
      <div class="waves-effect waves-light btn right action_button_card">
        <%= link_to 'BACK', appointments_path, class: 'white-text btn_link_to' %>
      </div>
    </div>
    <div class="card-content">
      <div class="row">
        <div class="col s12 m10 offset-m1">

          <div class="input-field col s12 m4">
            <input disabled value="<%= @appointment&.patient&.full_name %>" type="text" class="validate">
            <label>Patient</label>
          </div>

          <div class="input-field col s12 m4">
            <input disabled value="<%= @appointment&.doctor&.name %>" type="text" class="validate">
            <label>Doctor</label>
          </div>

          <div class="input-field col s12 m4">
            <input disabled value="<%= @appointment&.date&.strftime("%b %-e, %Y %I:%M %p") %>" type="text" class="validate">
            <label>Date</label>
          </div>

          <div class="input-field col s12">
            <input disabled value="<%= @appointment&.diagnostic %>" type="text" class="validate">
            <label>Diagnostic</label>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
